{% extends "layout.html" %}
{% block main %}
<!-- <iframe src="https://docs.google.com/document/d/e/2PACX-1vTShZFb3qvuVwDZF702QrbVDcqLdjfx7m_XY3bkPYYeOBs4HOZdp5P_CnfirqIdmg/pub?embedded=true" width="100%" height="100%"></iframe> -->
<!-- <iframe src="https://docs.google.com/document/d/e/2PACX-1vRRKx-UHD22S1kEgfPHzokw4vhVYxyGQOO3gWGsHdWBxGqPhzEjVGoVsp42dq3dQsluamSdV1DSne5b/preview" width="100%" height="100%"></iframe> -->
<iframe src="https://docs.google.com/document/d/15tZZ-5gjbP2-ACIwxAQW6TF1KxagvPlocaMm9vWY9dg/preview" width="100%" height="100%"></iframe>
{% endblock %}