{% extends "layout.html" %}
{% block link %}<li class="nav-item" role="presentation"><a class="nav-link " href="/logout">Logout</a></li>{% endblock %}

{% block main %}
<div class="list-group" style="text-align: center;">
    <a href="/book" class="list-group-item list-group-item-action list-group-item-success">Devonyes Structure Book</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Coming soon.</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Coming soon.</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Coming soon.</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Coming soon.</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Coming soon.</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Coming soon.</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Coming soon.</a>
  </div>
{% endblock %}
