{% extends "layout.html" %}
{% block title %}
Devonyes
{% endblock %}
{% block home %} <a href="#"> {% endblock %}

{% block link %}<li class="nav-item" role="presentation"><a class="nav-link " href="#Team">Team</a></li>{% endblock %}

{% block main %}

<div style="padding-top: 10px;">


  <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="prelogo fade-in">
      <img src="../static/img/devonyes vector white.png" class="prelogo">
    </div>

    <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>
  </div>


    <!-- <div class="carousel slide fade-in" data-ride="carousel" id="carousel-1" data-interval="3000">
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active"><img class="center w-50 d-block" src="../static/img/gen/1.jpg" alt="Slide Image"></div>
          <div class="carousel-item"><img class="center w-50 d-block" src="../static/img//gen/2.jpg" alt="Slide Image"></div>
          <div class="carousel-item"><img class="center w-50 d-block" src="../static/img/gen/3.jpg" alt="Slide Image"></div>
      </div>
      <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
      <ol
          class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
          </ol>
  </div> -->
    <!-- <div class="vignette"></div> -->
    <video playisinline loop preload autoplay muted>
      <source id="source_polar_mp4" src="../static/img/gen/index-video.mp4">
      
    </video>

    <div style="align-content: center; background: Black; border: none; opacity: 50%;">
        <img src="../static/img/down.gif" style="width: 5%; margin-left: 50%; background: transparent; border: none;  -webkit-filter: invert(1);
        filter: invert(1);">
        </div>

          <div class="" style="height:800px; background-image: url('../static/img/gen/cover.jpg'); background-size: cover; background-color: #464646; background-position:center; background-attachment: fixed">

            <div style=" color: white; background-color:black ; text-align: center; padding: 20px 80px;">
              <h2 class="text-responsive">A platform to the best dancers of SNIST in representing the college at various events and competitions.</h2>
            </div>
            <div id="updates">
              <h1>No Updates</h1>
              <p>No Alerts.</p>
            </div>
          </div>
          <div id="Team"></div>
        <div class="tag">
            <div style="color: white; background-color: black; text-align:center; padding: 20px 80px;">
            <h2>Crew</h2>
            </div>
        </div>

            <div class="team-clean">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center"></h2>
                        <p class="text-center">Meet the team</p>
                    </div>

                    
                    <div class="row people">
                      <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/cv.jpg">
                      <h3 class="name">Pruthvi CV</h3>
                      <p class="title">Chief Mentor</p>
                     </div>

                     <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/bhavya.jpeg">
                       <h3 class="name">Bhavya</h3>
                       <p class="title">Mentor</p>
                       <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="https://www.facebook.com/profile.php?id=100009119068382"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                       </div>

                     <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/srujith.jpg">
                       <h3 class="name">E Sai Srujith Rao </h3>
                       <p class="title">Head of Devonyes</p>
                       <div class="social"><a href="https://instagram.com/srujith_emmadi"><i class="fa fa-instagram"></i></a></div>
                     </div>

                     <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/sahithi.jpg">
                       <h3 class="name">Sesha Sahiti</h3>
                       <p class="title">Deputy Head of Devonyes</p>
                     </div>

                   </div>
                </div>

                <div class="row people">
                    <div class="module col-md-2 col-lg-4 item"><img class="rounded-circle" src="../static/img/crew/srujan.jpg">
                        <h3 class="name">Srujan</h3>
                        <p class="title">Managing Head</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                    <div class="module col-md-2 col-lg-4 item"><img class="rounded-circle" src="../static/img/crew/ashwin.jpeg">
                        <h3 class="name">Ashwin</h3>
                        <p class="title">Marketing Head</p>
                        <div class="social"><a href="https://www.facebook.com/profile.php?id=100001826574041"><i class="fa fa-facebook-official"></i></a><a href="https://twitter.com/Ashwin26kumar"><i class="fa fa-twitter"></i></a><a href="https://instagram.com/ashwin.exe"><i class="fa fa-instagram"></i></a></div>
                    </div>
                    <div class="module col-md-2 col-lg-4 item"><img class="rounded-circle" src="../static/img/crew/varshitha.jpg">
                        <h3 class="name">Varshitha</h3>
                        <p class="title">Publicity Head</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>

                        <!-- <div class="intro">
                            <h2 class="text-center"><u>Team</u></h2>
                            </div> -->

                            <div class="row people">
                              <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/riteshvk.jpeg">
                                  <h3 class="name">Ritesh VK</h3>
                                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                              </div>


                              <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/vinod.jpg">
                                <h3 class="name">Vinod</h3>
                                <div class="social"><a href="https://www.instagram.com/wenod_wine_ey/"><i class="fa fa-instagram"></i></a></div>
                              </div>

                              <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/ritesh.jpg">
                                  <h3 class="name">Rithesh</h3>
                                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                              </div>
                              <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/vijayasri.jpeg">
                                <h3 class="name">D.Sai Vijaya Sri</h3>
                                <div class="social"><a href="https://www.facebook.com/vijaya.sri.33449138"><i class="fa fa-facebook-official"></i></a><a href="https://instagram.com/vijaya_1804?igshid=1j3gzcn2clxor"><i class="fa fa-instagram"></i></a></div>
                              </div>
                            </div>

                            <div class="row people">

                              <div class="module col-md-2 col-lg-2 item"><img class="rounded-circle" src="../static/img/crew/hariroshan.jpg">
                                  <h3 class="name">Hari Roshan</h3>
                                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                              </div>
                            <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/abhinaya.jpg">
                                <h3 class="name">Abhinaya</h3>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                            <div class="module col-md-2 col-lg-2 item"><img class="rounded-circle" src="../static/img/crew/surya.jpeg">
                                <h3 class="name">Surya Teja</h3>
                                <div class="social"><a href="https://instagram.com/Surya_tej_23_29"><i class="fa fa-instagram"></i></a></div>
                            </div>
                            <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/athirath.jpg">
                              <h3 class="name">Athirath</h3>
                              <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>

                              <div class="module col-md-2 col-lg-2 item"><img class="rounded-circle" src="../static/img/crew/sanika.jpg">
                                  <h3 class="name">Sanika</h3>
                                  <div class="social"><a href="https://www.facebook.com/sanika.pethkar"><i class="fa fa-facebook-official"></i></a><a href="https://instagram.com/sanika711?igshid=1cp69v9df6r38"><i class="fa fa-instagram"></i></a></div>
                              </div>


                          <div class="module col-md-2 col-lg-2 item"><img class="rounded-circle" src="../static/img/crew/ganesh.jpg">
                              <h3 class="name">Ganesh</h3>
                              <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                          </div>
                          <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/sparsha.jpg">
                              <h3 class="name">Sparsha</h3>
                              <div class="social"><a href="https://instagram.com/sparsha.reddy?igshid=1kqkr4nq53bfv"><i class="fa fa-instagram"></i></a></div>
                          </div>
                          <div class="module col-md-2 col-lg-2 item"><img class="rounded-circle" src="../static/img/crew/sathvika.jpg">
                            <h3 class="name">Sathvika</h3>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>

                        <div class="module col-md-2 col-lg-3 item"><img class="rounded-circle" src="../static/img/crew/shreya.jpg">
                          <h3 class="name">Shreya</h3>
                          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                      </div>

                      <div class="module col-md-2 col-lg-2 item"><img class="rounded-circle" src="../static/img/crew/shivani.jpg">
                        <h3 class="name">Shivani</h3>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
            </div>
            </div>

            <script src="../static/js/preloader.js"></script>
{% endblock %}